@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
    /* -------- COLOURS -------- */
    --bg-color: rgb(245, 227, 224);
    --text-color: rgb(0, 0, 0);
    --text-description-color: rgb(51, 49, 49);
    --btns-border-color: rgb(210, 130, 166);
    --food-border-color: rgb(252, 193, 202);
    --img-border-color: rgb(253, 158, 194);

/* -------- FONTS AND PROPERTIES -------- */
    --font-title-subtitle: 700 2.3em 'Rubik', sans-serif;
    --font-text-categories: 500 1em 'Rubik', sans-serif;
    --font-text: 300 1em 'Rubik', sans-serif;

    --font-text-categories-768: 500 0.8em 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

h1 {
    font: var(--font-title-subtitle);
    text-align: center;
}

main {
    margin: 2em 0;
}